*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
header{
    background-color:#d85757 ;
    max-height: 70px;
}
.logo{    
    display: inline-block;
    padding: 10px;
    width: 60px;
    height: 60px;
    margin-left: 6%;
}
.nav {
    display:inline;
    margin-left: 60%;
    
}
.nav li{
    list-style: none;
    text-align: right;
    display: inline-block;
    margin-right: 10px;
}
.nav :hover {
    color: #6e003d;
}

.seccion-ficheros{
    background-color: #ac486b;
    display: inline-block;
    max-width: 40%;
    min-width: 20%;
    min-height: 645px;
}
.seccion-ficheros-F1{
    background-color: rgba(241, 210, 210, 0.5);
    text-overflow: clip;
    margin: 15px;
    padding: 5px;
    border-radius: 5px;  
}
.seccion-ficheros-F1:hover{
    background-color:rgba(238, 118, 118, 0.5) ;
    color: ivory;
}
.seccion-tarjetas{
    background-color: rgb(160, 156, 156);
    display: inline-block;
    min-width: 80%;
    min-height: 645px;
    position: absolute;
}
footer{
    background-color:#737478 ;
    text-align: center;
    min-height: 46px;
}

/*TARJETA CHARMANDER*/
.main-div-amarillo{
    display: inline-block;
    background-color: #ecda45;
  width: 300px;
  height: 460px;
  margin-left: 25%;
  margin-top: 5%;
  border-radius: 15px;
}
.main-div-rojo {
    background-color: #eb733f;
    width: 280px;
    height: 430px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
  }
  .main-div-head {
    display: inline-flex;
    border: 2px black solid;
    padding: 5px;
    border-radius: 8px;
  }
  div h4 {
    margin-left: 50px;
    font-size: 15pt;
  }
  .hp {
    margin-left: 50px;
  }
  div h5 {
    font-size: 17pt;
    margin-top: -5px;
  }
  div img {
    width: 220px;
    height: 216px;
    padding: 10px;
    margin-top: 15px;
    margin-left: 15px;
    border: 2px #f3dce488 dotted;
    border-radius: 2px;
  }
  .lista {
    margin-left: 30px;
    margin-top: 20px;
  }
  .lista li {
    margin-bottom: 5px;
  }
  .lista p {
    margin-bottom: 10px;
  }
  .lista div {
    display: inline-flex;
  }
  .lista div li {
    margin-right: 150px;
  }
  .lista div p {
    font-size: 20px;
  }
  .alumno {
      background-color: rgb(197, 62, 62);
      border-radius: 5px;
      width: 120px;
      height: 60px;
      
      margin-left: 85px;
      margin-top: -30px;
  }