/*
1.-Posicionamiento
2.-Modelo caja
3.- Tipografia
4.-Visuales
5.-Otros...
*/
:root {
  /*Variables Colores*/
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secundary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}
/* font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif; */
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px; /*Dimencion mas chica en los celulares*/
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}
header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}
.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 36px;
  text-align: center;
  align-self: center;
}
.header--title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.header--title-container p {
  margin-top: 25px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
/*Boton flotante*/
.header--title-container .header--button {
  position: absolute; /*Moverme en arrebia abajo izquierda derecha*/
  top: 285px;
  left: calc(50% - 115px);
  display: block;
  margin-top: 25px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-decoration: none;
  color: var(--warm-black);
}
.header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("./assets/icons/down-arrow.svg");
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}
.main--exchange-container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.main--exchange-container .backgroundImg {
  margin-top: 4rem;
  align-self: center;
  width: 19.5rem;
  height: 19.5rem;
}

.main--exchange-container-title h2 {
  margin-top: 40px;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--warm-black);
}
.main--exchange-container-title p {
  margin-top: 2.4rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #757575;
}

/*SECCION DE TABLAS*/
.main-currency-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360px;
  margin: 48px auto;
  font-family: "Inter", sans-serif;
}
.main-currency-table .currency-table--title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
}
.currency-table--container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}
.currency-table--container table {
  width: 100%;
  height: 100%;
}
.currency-table--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
  padding-left: 15px;
}
.currency-table--container .table__top-left {
  border-radius: 15px 0 0 0;
}
.currency-table--container .table__top-right {
  border-radius: 0 15px 0 0;
}
.currency-table--container .table__buttom-left {
  border-radius: 0 0 0 15px;
}
.currency-table--container .table__buttom-right {
  border-radius: 0 0 15px 0;
}
.currency-table--container .table__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}
.currency-table--container .down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 20px;
  background-image: url("./assets/icons/trending-down.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.currency-table--container .up {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 20px;
  background-image: url("./assets/icons/trending-up.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.currency-table--date {
  background-color: var(--soft-orange);
  width: 173px;
  height: 31px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 65px;
  border-radius: 8px;
}
.currency-table--date p {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  padding: 8px;
  line-height: 1.5rem;
}

/* Tarjetas */
.main-comparacion-container {
  background-color: var(--warm-black);
  padding-top: 64px;
  width: 100%;
  height: 910px;
  text-align: center;
}
.main-comparacion--title h2 {
  color: var(--just-white);
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin-bottom: 24px;
}
.main-comparacion--title p {
  color: #808080;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 16px;
}
.main-comparacion-tarjeta {
  width: 288px;
  height: 152px;
  margin: 16px;
  background-color: #282623;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  text-align: start;
}
.main-comparacion-tarjeta span {
  width: 20px;
  height: 20px;
  margin-left: 18px;
  margin-top: 16px;
}
.main-comparacion-tarjeta h3 {
  color: var(--just-white);
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-top: 12px;
  margin-left: 16px;
}
.main-comparacion-tarjeta p {
  color: #808080;
  width: 252px;
  min-width: 240px;
  max-width: 400px;
  margin-top: 10px;
  margin: 16px auto;
  height: 54px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.main-comparacion-tarjeta .main-tarjeta-span1 {
  display: inline-block;
  background-image: url("./assets/icons/clock.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-comparacion-tarjeta .main-tarjeta-span2 {
  display: inline-block;
  background-image: url("./assets/icons/eye.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-comparacion-tarjeta .main-tarjeta-span3 {
  display: inline-block;
  background-image: url("./assets/icons/dollar-sign.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-comparacion-tarjeta .main-tarjeta-span4 {
  display: inline-block;
  background-image: url("./assets/icons/check-circle.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* Imagen de mujer con bitcoins */

.main-imagen-container {
  width: 100%;
  height: 910;
}
.main-imagen-container .main-imagen--title {
  position: absolute;
  width: 288px;
  height: 26px;
  text-align: center;
  margin-top: 64px;
  margin-left: 16px;
  display: inline-block;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--just-white);
}
.main-imagen-container img {
  width: 100%;
  height: 100%;
}

/* Ultima seccion, planes */
.main-plan-container {
  background-color: var(--just-white);
  width: 100%;
  height: 537px;
  text-align: center;
}
.main-plan--title {
  width: 288px;
  height: 112px;
  margin-left: 15px;
  margin-bottom: 42px;
}
.main-plan--title h2 {
  color: var(--warm-black);
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin-top: 64px;
}
.main-plan--title p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #757575;
  margin-top: 24px;
}
.main-plan--title .absolute{
  position: absolute;
  text-align: center;
  margin-top: 34px;
  margin-left: 90px;
  width: 110px;
  height: 31px;
  border-radius: 8px;
  background-color: var(--bitcoin-orange);
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--just-white);
  padding: 7px;
  
  
}
.main-plan-tajeta {
  margin-left: 65px;
  margin-top: 26px;
  width: 190px;
  height: 247px;
  background: var(--just-white);
  text-align: center;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 8px;
}
.main-plan-tajeta .main-plan-tarjeta-title {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-left: calc(50% - 84px);
  padding-top: 31px;
}
.main-plan-99 {
  width: 65px;
  height: 56px;
  font-weight: bold;
  font-size: 5.2rem;
  line-height: 6.3rem;
  letter-spacing: -0.08em;
  margin-left: 62px;
  color: #000;
}
.main-plan-ahorra {
  margin: 16px;
  width: 158px;
  height: 30px;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #757575;
}
.main-plan-tajeta a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  width: 152px;
  height: 48px;
  background-color: var(--off-white);
  border: 2px solid var(--bitcoin-orange);
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--warm-black);
}
.main-plan-tajeta a span {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  display: inline-block;
  background-image: url("./assets/icons/orange-right-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
